body {
  background-color: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.scene-container {
  height: 100vh;
  width: 100%;
  z-index: -5;
  position: absolute;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.puzzle-page {
  height: 100vh;
  width: 100%;
  z-index: 20;
  position: absolute;
  background-color: #000000;
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 0.55s;
}

.puzzle-page-out {
  height: 100vh;
  width: 100%;
  z-index: 20;
  position: absolute;
  background-color: #000000;
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 0.55s;
}

.noot-grid {
  display: block;
  margin: auto;
  max-width: 500px;
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.noot-grid div {
  aspect-ratio: 1;
}
.nft-image {
  width: 90%;
}

.nft-image img:hover{
  width: 90%;
  transition: all 150ms ease;
  border: 5px solid #79008F;
}

.nft-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000;
  border-radius: 13px;
  width: 100%;
  object-fit: contain;
  transition: all 150ms ease;
}

.nft-selected {
  width: 90%;
}
.nft-selected img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #DC1FFF;
  border-radius: 13px;
  width: 90%;
  object-fit: contain;
  transition: all 150ms ease;
}
.nft-selected img:hover {
  border: 5px solid #F7CCFF;
}


.state-container {
  width: 89%;
  position: absolute;
  top: 3vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  color: #383838;
  text-align: center;
  font-size: small;
}



.puzzle-content {
  /* background-color: #61dafb; */
  margin: auto;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 60%;
  color: #222222;
  text-align: center;
}

.color-change-box {
  width: 90%;
  height: 90%;
  max-width: 555px;
  margin: auto;
}

.color-text {
  color: #CDD2D6;
}

.color-box {
  border: 5px solid #757575;
  color: #757575;
  width: 90%;
  height: 50%;
  max-width: 555px;
  margin: auto;
  border-radius: 13px;
  transition: all 150ms ease;
  text-align: center;
}

.middle-box {
  display: table-cell; 
  vertical-align: middle;
  height: 100%;
  width: 90%;
}

.color-box-text {
  display: table; 
  width: 100%;
  height: 100%;
}

.color-box-text-center {
  display: table-cell; 
  vertical-align: middle;
}

.color-box:hover {
  border: 5px solid #FFF;
  color: #FFF;
}

.puzzle-quarter {
  display: table; 
  height: 33%;
  width: 100%;
}

.puzzle-half {
  height: 33%;
  width: 100%;
  text-align: left;
}

.puzzle-half img{
  max-width: 90%;
  max-height: 100%;
  display: block;
  margin: auto;

  border: 5px solid #000;
  border-radius: 13px;
  width: auto;
  object-fit: contain;
  transition: all 150ms ease;
}

.puzzle-half img:hover{
  border: 5px solid #00FFA3;
}

.puzzle-thrid {
  height: 33%;
  width: 100%;
  text-align: left;
}

.puzzle-thrid img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000;
  border-radius: 13px;
  height: 90%;
  object-fit: contain;
  transition: all 150ms ease;
}

.puzzle-thrid img:hover{
  border: 5px solid #DC1FFF;
}

.puzzle-header {
  width: 100%;
  top: 2vh;
  position: absolute;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #757575;
  padding-bottom: 3vh;
}

.your-codes {
  width: 100%;
  text-align: center;
  font-size: large;
  color: #757575;
  padding-bottom: 3vh;
}

.your-codes-header {
  width: 100%;
  text-align: center;
  font-size: large;
  color: #757575;
  font-weight: bold;
  padding-bottom: 3vh;
}

.terminal {
  height: 10vh;
  width: 100%;
  overflow-wrap: break-word;
  text-align: left;
  font-size: x-large;
  color: #00FFA3;
  font-weight: bold;
  padding-bottom: 3vh;
}

.dronie-terminal {
  height: 10vh;
  width: 100%;
  overflow-wrap: break-word;
  text-align: left;
  font-size: x-large;
  color: #DC1FFF;
  font-weight: bold;
  padding-bottom: 3vh;
}

.your-codes-header a{
  transition: all 150ms ease;
  color: #FFF;
}

.your-codes-header a:hover{
  color: #DC1FFF;
}

.code-container {
  width: 89%;
  max-width: 555px;
  position: absolute;
  bottom: 5vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.scene-overlay {
  height: 0;
  width: 0;
  opacity: 0.0;
  pointer-events: none;
}

@keyframes scene-change {
  0% {opacity: 0;}
  30% {opacity: 1;}
  /* Waiting time */
  70% {opacity: 1;}
  100% {opacity: 0;}
}

.scene-change {
  height: 100vh;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0; 
  bottom: 0; 
  z-index: 10;
  display: block;
  background-color: #000000;
  pointer-events: all;
  opacity: 0;
  animation-name: scene-change;
  animation-duration: 2s;
}

.icon-spin {
  margin-right: 5px;
  animation: spin-animation 0.5s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.message { 
  width: 100%;
  position: absolute;
  top: 34%;
  text-align: center;
  color: white;
  font-size: xx-large;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
