body {
  background-color: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.scene-container {
  height: 100vh;
  width: 100%;
  z-index: -5;
  position: absolute;
}

.state-container {
  width: 89%;
  position: absolute;
  top: 3vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  color: #383838;
  text-align: center;
  font-size: small;
}

.code-container {
  width: 89%;
  max-width: 1000px;
  position: absolute;
  bottom: 5vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.scene-overlay {
  height: 0;
  width: 0;
  opacity: 0.0;
  pointer-events: none;
}

@keyframes fade-in {
  0% {opacity: 1;}
  30% {opacity: 1;}
  /* Waiting time */
  70% {opacity: 1;}
  100% {opacity: 0;}
}

.connect-scene {
  height: 100vh;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0; 
  bottom: 0; 
  z-index: 13;
  display: block;
  background-color: #000000;
  pointer-events: all;
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes scene-change {
  0% {opacity: 0;}
  30% {opacity: 1;}
  /* Waiting time */
  70% {opacity: 1;}
  100% {opacity: 0;}
}

.scene-change {
  height: 100vh;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0; 
  bottom: 0; 
  z-index: 10;
  display: block;
  background-color: #000000;
  pointer-events: all;
  opacity: 0;
  animation-name: scene-change;
  animation-duration: 2s;
}

.icon-spin {
  margin-right: 5px;
  animation: spin-animation 0.5s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.message { 
  width: 100%;
  position: absolute;
  top: 34%;
  text-align: center;
  color: white;
  font-size: xx-large;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
